* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.result-chat {
  width: 495.5px;
  height: 300px;
  border: 1px solid black;
  margin-bottom: 1rem;
  overflow: auto;
  z-index: 1;
}

.input-chat {
  width: 435px;
  z-index: 2;
  position: absolute;
  margin-top: -39px;
  margin-left: 3px;
}

.btn-chat {
  z-index: 3;
  position: absolute;
  margin-left: 449px;
  margin-top: -39px;
}