* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-image: url(./img/wp7890704.png);
}

#navbar {
  background-color: rgb(211, 211, 211);
  border-bottom: 1px solid black;
}
#logo {
  width: 5%;
}
#slide {
  background-color: rgb(211, 211, 211);
}
#testi {
  background-color: rgb(211, 211, 211);
}
#konten1 {
  background-color: rgb(211, 211, 211);
}
#konten2 {
  background-color: rgb(211, 211, 211);
}
#konten3 {
  background-color: rgb(211, 211, 211);
}
#gallery {
  background-color: rgb(211, 211, 211);
}
#call {
  background-color: rgb(211, 211, 211);
}
#footer {
  border-top: 1px solid black;
}